:root {
  --led-gap: 3px;
  --panel-pad: 10px;
  --panel-bg: rgba(0, 0, 0, 0.35);
  --radius: 20px;
  --glow: none;
  --brightness: 1.0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: var(--panel-pad);
  background: var(--panel-bg);
  border-radius: var(--radius);
  box-shadow: var(--glow);
  filter: brightness(var(--brightness));
  box-sizing: border-box;
  overflow: hidden;
}

/* Compact mode - default (16x16) */
.panel.compact-mode {
  display: flex;
}

.split-mode {
  display: none;
  width: 100%;
  height: 100%;
  padding: 0;
  background: transparent;
}

.split-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 var(--panel-pad);
  box-sizing: border-box;
}

.matrix-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--panel-pad) var(--panel-pad) var(--panel-pad) var(--panel-pad);
  background: var(--panel-bg);
  border-radius: var(--radius);
  box-shadow: var(--glow);
  filter: brightness(var(--brightness));
}

.matrix {
  display: grid;
  flex-grow: 1;
  gap: var(--led-gap);
  box-sizing: border-box;
  justify-content: center;
  align-content: center;
}

.split-matrix {
  flex-grow: 0;
}

.led {
  aspect-ratio: 1/1;
  border-radius: 10%;
  background: rgba(30, 30, 30, 0.25);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6) inset;
  transition: background 200ms linear, box-shadow 200ms linear, opacity 200ms linear;
}

.led.no-transition {
  transition: none;
}

.led.on {
  box-shadow: 0 0 8px currentColor, 0 0 18px currentColor;
}

.green {
  color: #17e217;
}

.yellow {
  color: #f0d52a;
}

.orange {
  color: #d8910e
}

.blue {
  color: #007fd3;
}

.white {
  color: #ffffff;
}

.black {
  color: #111111;
}

.red {
  color: #ff0000;
}

.check {
  color: #ffffff;
}

.green.on,
.yellow.on,
.orange.on,
.blue.on,
.white.on,
.black.on,
.red.on,
.check.on {
  background: currentColor;
}

.message {
  margin-top: 2px;
  font-size: 12px;
  font-family: system-ui ;
  font-weight: bold;
  text-align: center;
  color: #ddd;
  text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.8),
    1px -1px 0 rgba(0, 0, 0, 0.8),
    -1px 1px 0 rgba(0, 0, 0, 0.8),
    1px 1px 0 rgba(0, 0, 0, 0.8),
    0 -1px 0 rgba(0, 0, 0, 0.8),
    0 1px 0 rgba(0, 0, 0, 0.8),
    -1px 0 0 rgba(0, 0, 0, 0.8),
    1px 0 0 rgba(0, 0, 0, 0.8);
}

.split-mode .message {
  display: none;
}
